#header {
    color:pink;
}
#greycol {
    color: gray;
}
.yellow {
    color: yellow;
}
.item-box {
    color: green;
}
.text-item {
    color: red;
}
h2 {
    color: brown;
}
.timetable-day {
    color: violet;
}
.timetable-lesson-one {
    color: blue;
}
.timetable-lesson-two {
    color: red;
}
.timetable-lesson-three {
    color: green;
}
.timetable-lesson-four {
    color: yellow;
}
.timetable-lesson-five {
    color: orange;
}